<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>React App</title>
  </head>
  <style>
    .col{
        display: inline-block;
        width: 200px;
        text-align: center;
        vertical-align: top;
    }
    .col-big{
        display: inline-block;
        width: 1000px;
        text-align: center;
        vertical-align: top;
    }
    .mean{
        padding: 10px;
        border: none;
        border-radius: 100vw;
        transition: 0.2s;
        width: 150px;
    }
    .mean:hover{
        background-color: bisque;
        cursor: pointer;
    }
    .mean:active{
        background-color: rgb(243, 209, 166);
        cursor: pointer;
    }
    .sensor{
        padding: 7px;
        border: none;
        border-radius: 100vw;
        transition: 0.2s;
        margin-top: 10px;
    }
    .sensor:hover{
        background-color: rgb(196, 253, 255);
        cursor: pointer;
    }
    .sensor:active{
        background-color: rgb(166, 187, 243);
        cursor: pointer;
    }
    .param{
        background-color: rgb(206, 219, 255);
        margin: auto;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 100vw;
        transition: 0.2s;
        width: 150px;
    }
    td,
    th {
        border: 1px solid rgb(190, 190, 190);
        padding: 10px;
    }

    td {
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #eee;
    }

    th[scope='col'] {
        background-color: #696969;
        color: #fff;
    }

    th[scope='row'] {
        background-color: #d7d9f2;
    }

    table {
        border-collapse: collapse;
        border: 2px solid rgb(200, 200, 200);
        letter-spacing: 1px;
        font-family: sans-serif;
        font-size: 0.8rem;
    }



    
.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}


.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #06a3ae;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

  </style>
  <body>
    <div width="800" height="450">
        <canvas id="GRAAAPH" ></canvas>
    </div>
    <div class="col-big">
        <div class="col">
            <button class="mean" onclick="draw_graph(type='AirMean', sensor_id=0)">
                Ср. температура воздуха
            </button>
            <button class="sensor" onclick="draw_graph(type='AirSensors', sensor_id=0)">
                Сэнсор воздуха №1
            </button>
            <button class="sensor" onclick="draw_graph(type='AirSensors', sensor_id=1)">
                Сэнсор воздуха №2
            </button>
            <button class="sensor" onclick="draw_graph(type='AirSensors', sensor_id=2)">
                Сэнсор воздуха №3
            </button>
            <button class="sensor" onclick="draw_graph(type='AirSensors', sensor_id=3)">
                Сэнсор воздуха №4
            </button>
        </div>
        <div class="col">
            <button class="sensor" onclick="draw_graph(type='GroundSensors', sensor_id=0)">
                Влажность земли №1
            </button>
            <button class="sensor" onclick="draw_graph(type='GroundSensors', sensor_id=1)">
                Влажность земли №2
            </button>
            <button class="sensor" onclick="draw_graph(type='GroundSensors', sensor_id=2)">
                Влажность земли №3
            </button>
            <button class="sensor" onclick="draw_graph(type='GroundSensors', sensor_id=3)">
                Влажность земли №4
            </button>
            <button class="sensor" onclick="draw_graph(type='GroundSensors', sensor_id=4)">
                Влажность земли №5
            </button>
            <button class="sensor" onclick="draw_graph(type='GroundSensors', sensor_id=5)">
                Влажность земли №6
            </button>
        </div>
        <!---->
        <div class="col">
            <div class="param" id="mean_air_temp">
                Ср. температура:  
            </div>
            <div class="param" id="mean_air_temp">
                Ср. влажность:  
            </div>
            <div class="param" id="mean_air_temp">
                1 температура:  
            </div>
            <div class="param" id="mean_air_temp">
                2 температура:  
            </div>
            <div class="param" id="mean_air_temp">
                3 температура:  
            </div>
            <div class="param" id="mean_air_temp">
                4 температура:  
            </div>
        </div>
        <div class="col">
            <div class="param" id="mean_air_temp">
                1 влажность:  
            </div>
            <div class="param" id="mean_air_temp">
                2 влажность:  
            </div>
            <div class="param" id="mean_air_temp">
                3 влажность:  
            </div>
            <div class="param" id="mean_air_temp">
                4 влажность:  
            </div>
            <div class="param" id="mean_air_temp">
                5 влажность:  
            </div>
            <div class="param" id="mean_air_temp">
                6 влажность:  
            </div>
            <button class="sensor" id="air_humidifier" onclick="switch_system('air_humidifier')">
                Поливалка воздуха
            </button>
            <button class="sensor" id="window_opener" onclick="draw_graph(type='GroundSensors', sensor_id=5)">
                Поливалка окна
            </button>
            <button class="sensor" id="extra_button" onclick="draw_graph(type='GroundSensors', sensor_id=5)">
                Поливалка экстренного режима
            </button>
        </div>
        <div class="col">
            <button class="sensor" id="ground_humidifier_1" onclick="draw_graph(type='GroundSensors', sensor_id=0)">
                Поливалка земли №1
            </button>
            <button class="sensor" id="ground_humidifier_2" onclick="draw_graph(type='GroundSensors', sensor_id=1)">
                Поливалка земли №2
            </button>
            <button class="sensor" id="ground_humidifier_3" onclick="draw_graph(type='GroundSensors', sensor_id=2)">
                Поливалка земли №3
            </button>
            <button class="sensor" id="ground_humidifier_4" onclick="draw_graph(type='GroundSensors', sensor_id=3)">
                Поливалка земли №4
            </button>
            <button class="sensor" id="ground_humidifier_5" onclick="draw_graph(type='GroundSensors', sensor_id=4)">
                Поливалка земли №5
            </button>
            <button class="sensor" id="ground_humidifier_6" onclick="draw_graph(type='GroundSensors', sensor_id=5)">
                Поливалка земли №6
            </button>
        </div>
        
        <div class="col">
            <div class="param" id="mean_air_temp">
                Маккс температура воздуха:  
            </div>
            <div class="param" id="mean_air_temp">
                Мин влажность воздуха:  
            </div>
            <div class="param" id="mean_air_temp">
                Мин влажность земли:  
            </div>
        </div>
    </div>
    <p>Тэйбл оф чего-то-с</p>
    <table id="table">
    </table>
    
    <div class="form">
        <div class="title">Настройки</div>
        <div class="input-container ic1">
          <input id="firstname" class="input" type="number" placeholder=" " />
          <div class="cut"></div>
          <label for="firstname" class="placeholder">Макс. ср. температура воздуха</label>
        </div>
        <div class="input-container ic2">
          <input id="lastname" class="input" type="number" placeholder=" " />
          <div class="cut"></div>
          <label for="lastname" class="placeholder">Мин. ср. влажность воздуха</label>
        </div>
        <div class="input-container ic2">
          <input id="email" class="input" type="number" placeholder=" " />
          <div class="cut cut-short"></div>
          <label for="email" class="placeholder">Мин. влажность почвы</label>
        </div>
        <button type="text" class="submit">Сохранить</button>
      </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        let url = "http://127.0.0.1:80/api/sensors_data?time_period=20";
        let url_states = "http://127.0.0.1:80/api/state";
        let ctx = document.getElementById('GRAAAPH').getContext("2d");
        let table = document.getElementById('table');
        
        function toDateTime(secs) {
            var t = new Date(0);
            t.setSeconds(secs);
            return ' ' + t.getFullYear() + ' ' + (t.getMonth()+1) + ' ' + t.getDate() + ' ' + (t.getHours()) + ':' + t.getMinutes() + ':' + t.getSeconds();
        }

        function timeLabels(times){
            for(let i = 0; i < times.length; i++){
                times[i] = toDateTime(times[i]);
            }
            return times;
        }

        var dataset = {
            'AirMean': {},
            'AirSensors': [
                {},
                {},
                {},
                {}
            ],
            'GroundSensors': [
                {},
                {},
                {},
                {},
                {},
                {}
            ]
        }
        let states = {};
        var data = [];
        /*
        {
            air: [
                [ - 1 sensor
                    [value, value, value, value...], - T
                    [value, value, value, value...], - Hum
                    [time, time, time, time...] - Time
                ],
                ...
                ...
                ...
                [ - mean of data
                    [value, value, value, value...], - T
                    [value, value, value, value...], - Hum
                    [time, time, time, time...] - Time
                ]
            ],
            ground: [
                [ - 1 sensor
                    [value, value, value, value...], - Hum
                    [time, time, time, time...] - Time
                ],
                ...
                ...
                ...
                ...
                ...
                [ - mean of data
                    [value, value, value, value...], - Hum
                    [time, time, time, time...] - Time
                ]
            ]
        }
        */
        function update_dataset(){
            dataset.AirMean.data = {
                labels: timeLabels(data.air[4][2]),
                datasets: [
                {
                    label: 'Ср. температура воздуха °C',
                    backgroundColor: 'rgb(255, 80, 80)',
                    borderColor: 'rgb(255, 80, 80)',
                    data: data.air[4][0],
                    fill: false
                },
                {
                    label: 'Ср. влажность воздуха %',
                    backgroundColor: 'rgb(120, 120, 255)',
                    borderColor: 'rgb(120, 120, 255)',
                    data: data.air[4][1],
                    fill: false
                }
                ]
            };
  
            for(let i = 0; i < 4; i++){
                dataset.AirSensors[i].data = {
                    labels: timeLabels(data.air[i][2]),
                    datasets: [
                    {
                        label: 'Температура воздуха °C ( Датчик ' + (i+1) + ' )',
                        backgroundColor: 'rgb(255, 80, 80)',
                        borderColor: 'rgb(255, 80, 80)',
                        data: data.air[i][0],
                        fill: false
                    },
                    {
                        label: 'Влажность воздуха % ( Датчик ' + (i+1) + ' )',
                        backgroundColor: 'rgb(120, 120, 255)',
                        borderColor: 'rgb(120, 120, 255)',
                        data: data.air[i][1],
                        fill: false
                    }
                    ]
                }
            }
            
            for(let i = 0; i < 6; i++){
                dataset.GroundSensors[i].data = {
                    labels: timeLabels(data.ground[i][1]),
                    datasets: [
                    {
                        label: 'Влажность почвы % ( Датчик ' + (i+1) + ' )',
                        backgroundColor: 'rgb(120, 170, 255)',
                        borderColor: 'rgb(120, 170, 255)',
                        data: data.ground[i][0],
                        fill: false
                    }
                    ]
                }
            }
            draw_graph("AirMean");
        }
        async function get_data_from_api(){
            let response = await fetch(url);

            if (response.ok){
                let json = await response.json();
                console.log(json)
                data = json.result;
                update_dataset();
            }
        }
        function update_states(){
            /*
            air_humidifier
            window_opener
            extra_button
            ground_humidifier_1
            ground_humidifier_2
            ground_humidifier_3
            ground_humidifier_4
            ground_humidifier_5
            ground_humidifier_6
            */
           let air_humidifier = document.getElementById("air_humidifier");
           let window_opener = document.getElementById("window_opener");
           let extra_button = document.getElementById("extra_button");
           let ground_humidifier_1 = document.getElementById("ground_humidifier_1");
           let ground_humidifier_2 = document.getElementById("ground_humidifier_2");
           let ground_humidifier_3 = document.getElementById("ground_humidifier_3");
           let ground_humidifier_4 = document.getElementById("ground_humidifier_4");
           let ground_humidifier_5 = document.getElementById("ground_humidifier_5");
           let ground_humidifier_6 = document.getElementById("ground_humidifier_6");
            if (states.total_hum == 1){
                air_humidifier.style.backgroundColor = 'green';
            }else{
                air_humidifier.style.backgroundColor = 'blue';
            }
        }
        async function get_states(){
            let response = await fetch(url_states);

            if (response.ok){
                let json = await response.json();
                console.log(json)
                states = json.result;
                update_states();
            }
        }
        get_data_from_api();
        get_states();
        
        var chart = new Chart(ctx, {
            type: 'line',
            data: dataset.AirMean.data,
            
            options:{
                scales: {
                    xAxes: [{         
                        ticks: {
                            autoSkip: false,
                            maxRotation: 0,
                            minRotation: 0
                        },
                        
                        afterTickToLabelConversion: function(data){
                            let xLabels = data.ticks;

                            xLabels.forEach(function (labels, i) {
                                if (i % 3 != 0){
                                    xLabels[i] = '';
                                }
                            });
                        } 
                    }]   
                }
                


            }
        }); 
        /*
        <tr>
            <th scope="col">Time</th>
            <th scope="col">1</th>
        </tr>
        <tr>
            <th scope="row">Monday</th>
            <td>35</td>
        </tr>
        */
        function update_table(is_it_air_data){
            if (is_it_air_data){
                table.innerHTML = `
                    <tr>
                        <th scope="col">Время</th>
                        <th scope="col">1</th>
                        <th scope="col">2</th>
                        <th scope="col">3</th>
                        <th scope="col">4</th>
                        <th scope="col">Средняя температура</th>
                        <th scope="col">1</th>
                        <th scope="col">2</th>
                        <th scope="col">3</th>
                        <th scope="col">4</th>
                        <th scope="col">Средняя влажность</th>
                    </tr>
                `;
                for(let i = 0; i < dataset.AirMean.data.datasets[0].data.length; i++){
                    table.innerHTML += `
                    <tr>
                        <th scope="row">${dataset.AirMean.data.labels[i]}</th>
                        <td>${dataset.AirSensors[0].data.datasets[0].data[i]}</td>
                        <td>${dataset.AirSensors[1].data.datasets[0].data[i]}</td>
                        <td>${dataset.AirSensors[2].data.datasets[0].data[i]}</td>
                        <td>${dataset.AirSensors[3].data.datasets[0].data[i]}</td>
                        <td>${dataset.AirMean.data.datasets[0].data[i]}</td>

                        <td>${dataset.AirSensors[0].data.datasets[1].data[i]}</td>
                        <td>${dataset.AirSensors[1].data.datasets[1].data[i]}</td>
                        <td>${dataset.AirSensors[2].data.datasets[1].data[i]}</td>
                        <td>${dataset.AirSensors[3].data.datasets[1].data[i]}</td>
                        <td>${dataset.AirMean.data.datasets[0].data[i]}</td>
                    </tr>
                    `;
                }
            }else{
                table.innerHTML = `
                    <tr>
                        <th scope="col">Время</th>
                        <th scope="col">1</th>
                        <th scope="col">2</th>
                        <th scope="col">3</th>
                        <th scope="col">4</th>
                        <th scope="col">5</th>
                        <th scope="col">6</th>
                    </tr>
                `;
                for(let i = 0; i < dataset.AirMean.data.datasets[0].data.length; i++){
                    table.innerHTML += `
                    <tr>
                        <th scope="row">${dataset.AirMean.data.labels[i]}</th>
                        <td>${dataset.GroundSensors[0].data.datasets[0].data[i]}</td>
                        <td>${dataset.GroundSensors[1].data.datasets[0].data[i]}</td>
                        <td>${dataset.GroundSensors[2].data.datasets[0].data[i]}</td>
                        <td>${dataset.GroundSensors[3].data.datasets[0].data[i]}</td>
                        <td>${dataset.GroundSensors[4].data.datasets[0].data[i]}</td>
                        <td>${dataset.GroundSensors[5].data.datasets[0].data[i]}</td>
                    </tr>
                    `;
                }
            }
        }
        function draw_graph(type="", sensor_id=0){
            let new_data;
            let is_it_air_data = false;
            if (type=="AirMean"){
                console.log(dataset.AirMean.data);
                new_data = dataset.AirMean.data;
                is_it_air_data = true;
            }
            if (type=="AirSensors"){
                if (sensor_id <= 4 && sensor_id >= 0){
                new_data = dataset.AirSensors[sensor_id].data;
                console.log(dataset.AirSensors[sensor_id].data);
                    
                }
                is_it_air_data = true;
            }
            if (type=="GroundSensors"){
                console.log(dataset.GroundSensors[sensor_id].data);
                if (sensor_id <= 6 && sensor_id >= 0)
                new_data = dataset.GroundSensors[sensor_id].data;
            }
            if (new_data !== undefined){
                chart.data = new_data;
                update_table(is_it_air_data);
                chart.update();
            }
        }
        async function switch_system(system = 'air_humidifier'){
            let url_total_hum_system = "http://127.0.0.1:80/api/total_hum";
            console.log(states.total_hum, Math.abs(states.total_hum-1));
            fetch(url_total_hum_system, {
                method: 'PATCH',
                body: JSON.stringify({
                    state: Math.abs(states.total_hum-1),
                }),
                headers: {
                    'Content-type': 'application/json; charset=UTF-8',
                },
                })
                .then((response) => response.json());
            setTimeout(get_states, 100);
        }
    </script>
  </body>
</html>
